security:
    encoders:
        App\Entity\Clients:
            algorithm: auto
        App\Entity\Chauff:
            algorithm: auto
        FOS\UserBundle\Model\UserInterface: bcrypt
        App\Entity\Lesmoyens:
            algorithm: auto
        # App\Entity\Lesmoyens:
        #     algorithm: auto
    # https://symfony.com/doc/current/security.html#registering-the-user-hashing-passwords
        # https://symfony.com/doc/current/security.html#loading-the-user-the-user-provider
    providers:
        #users_in_memory: { memory: null }
        app_clients_provider:
            entity:
                class: App\Entity\Clients
                property: nom
    #enable_authenticator_manager: true
    firewalls:
        #enable_authenticator_manager: true
        dev:
            pattern: ^/(_(profiler|wdt)|css|images|js)/
            security: false
        #main:
            #lazy: true
            #provider: users_in_memory
        # login:
        #     pattern: ^/api/login
        #     stateless: true
        #     anonymous: true
        #     json_login:
        #         check_path: /api/login_check
        #         success_handler: lexik_jwt_authentication.handler.authentication_success
        #         failure_handler: lexik_jwt_authentication.handler.authentication_failure
        #api:
            # pattern: ^/api
            # stateless: true
            # guard:
            #     authenticators:
            #         - lexik_jwt_authentication.jwt_token_authenticator
        main:
            anonymous: true
            # provider: chain_provider
    access_control:
         - { path: ^/admin  , roles: ROLE_ADMIN }
         - { path: ^/profile,       roles: ROLE_USER }